---
title: Search
subtitle: Looking for something on this site? Try searching for it below.
---

<!-- based on https://github.com/jhvanderschee/jekyllcodex/blob/gh-pages/_includes/search-lunr.html -->
<!-- MIT License -->

<script src="{{ 'assets/js/lunr.js' | relative_url }}"></script>

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<script>
  {% assign counter = 0 %}
  var documents = [
    {% for page in site.pages %}
      {% if page.url contains '.xml' or page.url contains 'assets' %}
      {% else %} {
        {% if page.title %}
          "id": {{ counter }},
          "url": "{{ page.url | relative_url }}",
          "title": "{{ page.title }}",
          "subtitle": "{{ page.subtitle }}",
          "date": "",
          "body": ""
        {% endif %}
        {% assign counter = counter | plus: 1 %}},
      {% endif %}
    {% endfor %}
    {% for post in site.posts %} {
      "id": {{ counter }},
      "url": "{{ post.url | relative_url }}",
      "title": "{{ post.title }}",
      "subtitle": "{{ post.subtitle }}",
      "date": "{{ post.date | date: date_format }}",
      "body": "{{ post.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
      {% assign counter = counter | plus: 1 %}}
    {% if forloop.last %}{% else %}, {% endif %}{% endfor %}];

  var idx = lunr(function () {
    this.ref('id')
    this.field('title')
    this.field('body')

    documents.forEach(function (doc) {
      this.add(doc)}, this)});
  function lunr_search(term) {
    document.getElementById('lunrsearchresults').innerHTML = '<ul></ul>';
    if(term) {
      document.getElementById('lunrsearchresults').innerHTML = "<p>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;
      // display results
      var results = idx.search(term);
      if(results.length > 0) {
        // console.log(idx.search(term));
        // if results
        for (var i = 0; i < results.length; i++) {
          // more statements
          var ref = results[i]['ref'];
          var url = documents[ref]['url'];
          var title = documents[ref]['title'];
          var subtitle = documents[ref]['subtitle'];
          var date = documents[ref]['date'];
          var body = documents[ref]['body'].substring(0,160) + '...';
          document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<div class='lunrsearchresult'><a href='" + url + "'><h2>" + title + "</h2><h3 class='subtitle'>" + subtitle + "</h3></a><p class='date'>" + date + "</p><div>" + body + "</div></div>";}}
      else {
        document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<div class='lunrsearchresult'>No results found...</div>";}}
    return false;}
</script>

<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
  <p><input type="text" class="form-control" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Enter your search term..." /></p>
</form>
<div id="lunrsearchresults">
  <ul></ul>
</div>
