---
title: Sitemap
subtitle: A list of all posts and pages on this site
---

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<!-- Get list of pages, excluding ones without a title -->
{%- capture site_pages -%}
  {%- for page in site.pages -%}
    {%- if page.title -%}
      {{- page | first -}}
      {%- unless forloop.last -%}
        ,
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}
{%- assign pages_list = site_pages | split: ',' -%}

<!-- Display buttons with section links -->
<a href="#posts" class="btn btn-primary tag-btn"><i class="fas fa-file-alt" aria-hidden="true"></i>&nbsp;posts&nbsp;({{site.posts.size}})</a>
<a href="#pages" class="btn btn-primary tag-btn"><i class="fas fa-file-alt" aria-hidden="true"></i>&nbsp;pages&nbsp;({{pages_list.size}})</a>

<!-- Display list of posts -->
<div id="full-tags-list">
  <!-- Display list of posts -->
  <h2 id="posts" class="linked-section">
    <i class="fas fa-file-alt" aria-hidden="true"></i>
      &nbsp;posts&nbsp;({{site.posts.size}})
  </h2>
  <div class="post-list">
    {% for post in site.posts %}
      <div class="tag-entry">
        <a href="{{ post.url | relative_url }}">{{- post.title -}}</a>
        <div>{{- post.subtitle -}}</div>
        <div class="entry-date">
          <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: date_format -}}</time>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Display list of pages -->
  <h2 id="pages" class="linked-section">
    <i class="fas fa-file-alt" aria-hidden="true"></i>
      &nbsp;pages&nbsp;({{pages_list.size}})
  </h2>
  <div class="post-list">
    {% for page in site.pages %}
      {% if page.title %}
        <div class="tag-entry">
          <a href="{{ page.url | relative_url }}">{{- page.title -}}</a>
          <div>{{- page.subtitle -}}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
